node_modules/
public/hot/
public/storage/
public/materiale/
app/Helpers/
app/Http/Controllers/MedikeyController.php
app/Http/Controllers/MedikeyCrudController.php
app/Http/Controllers/Auth/LoginbeController.php
app/Http/Middleware/MedikeyMiddleware.php
app/Http/Policies/ThreadPolicy.php
app/Models/Claps.php
app/Models/Thread.php
app/Models/Reply.php
app/Models/BestReply.php
app/Models/MedUser.php
app/Models/Session.php
app/Models/TagThread.php
resources
app/Controllers
storage/*.key
vendor/
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.editorconfig
.vs
